.btn-explorer{
    width: 220px;
    height: 48px;
    margin: auto;
    border-radius: 50px 50px 50px 50px;
    background: linear-gradient(to bottom right, $secondarycolor, $primarycolor);
    color: $spfontcolor;
    font-size: 1rem; 
    margin-bottom: 35px; 
    box-shadow: 1px 4px 10px $shadowcolor;
    &:hover{
        opacity: 0.9;
        box-shadow: 1px 4px 12px darken($shadowcolor, 10%);
    }
}

// fichier coeur.scss dans components idem spin loader et pour les cards
