.section-menu{
    width: 100%;
    max-width: 1400px;
    height: auto;
    background-color: $background1;
    border-radius: 40px 40px 0 0;
    top: 200px;
    padding-bottom: 50px;
    margin-bottom: 200px;
    position: relative;
    z-index:2;
    h1{
        font-family: $Shrikhand;
        font-weight: 200;
        padding: 40px 0 0 0;
        @include for-tablet{
            font-size: 2rem; 
        }
    }
}

.titre-menu{
    display: flex;
    justify-content: space-around;
    margin-left: -8px;
}

h4{
    margin-left: 20px;
    margin-top: 30px;
    font-weight: 400;
    font-size: 1rem;
    
}

h4:after{
    content: "";
    display: block;
    width: 9%;
    max-width: 6%;
    bottom: 0;
    border-bottom: 3px solid $tertiarycolor;
    @include for-tablet{
        max-width: 4%; 
    }
    @include for-desktop{
        max-width: 3%; 
    }
   
}

//rotation du check
@keyframes fa-check {
    0%  { 
        transform: rotate(0deg);
    }
  100%{ 
      transform: rotate(360deg);
    }
    }

// déplacement du check
@keyframes valid-check {
    from { 
        right: -50px;
        transform: translateX(0); 
    }
    to { 
        right: -40px;
        transform: translateX(-40%); 
    }
    }

 // déplacement du prix   
@keyframes prix{
    0% { 
        transform: translateX(40%); 
    }
    100% { 
        transform: translateX(10%); 
    }
    }
.menu-card{
    @include for-big-desktop{
        display: flex;
        flex-direction: row;
    }
}
.choix{
    display: flex;   
    border-radius: 15px;
    background-color: $spfontcolor;
    box-shadow: 1px 4px 10px $shadowcolor;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    width: 95%;
    height: 70px;
    margin: 20px auto 15px;
    animation: slideup 2s ease-in-out;
    @include for-big-desktop{
        max-width: 440px; 
    }

    .text-card{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 80%;
        white-space: nowrap;
        overflow: hidden;
       
        h5 {
            margin: 10px 0 0 10px;
            font-size: 1.1rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            
        }

        p {
            margin: 0 0 10px 10px;
            font-size: .9rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            
        }
    }

    .fa-check-circle{
        position: absolute;
        visibility: hidden;
        
    }

    .prix{
        position: absolute;
        right: 30px;
        margin-top: 35px;
        font-weight: 600;
        font-size: 1rem;
        
    }

    &:hover{
        .prix{
            animation: prix ease-in-out .3s;
            animation-fill-mode: forwards;
            animation-iteration-count: 1;
            right: 5px;
            float: right;
            position: static;
            width: 40%;
        }

        .valid-check-mover{
            animation: valid-check ease-in-out .3s;
            animation-fill-mode: forwards;
            animation-iteration-count: 1;
            background-color: $tertiarycolor;
            position: absolute;
            right: -5%;
            width: 80px;
            height: 70px;
        }

        .fa-check-circle{
            animation: fa-check .4s linear infinite; 
            animation-iteration-count: 1;
            background-color: $tertiarycolor;
            color: $spfontcolor;
            display: flex;
            justify-content: center;
            left: 38%;
            position: absolute;
            top: 40%;
            visibility: visible;
        }
        
    }
}
.effet_0{
    animation-duration: .3s;  
}   

.effet_1{
    animation-duration: .6s;  
}   

.effet_2{
    animation-duration: .9s;  
}   

.effet_3{
    animation-duration: 1.2s;  
}   

.effet_4{
    animation-duration: 1.5s;  
}   

.effet_5{
    animation-duration: 1.8s;  
}   

.effet_6{
    animation-duration: 2.1s;  
}   

.effet_7{
    animation-duration: 2.4s;  
}   

.effet_8{
    animation-duration: 2.7s;  
}   

.effet_9{
    animation-duration: 3s;  
}   

    @keyframes slideup {
        from{
                transform: translateY(20px);
                opacity: 0;
        }
        to {
                transform: translateY(0);
                opacity: 1;
        }
    }
    
   