$primarycolor:#9356DC;
$secondarycolor:#FF79DA;
$tertiarycolor:#99E2D0;
$quartecolor: #F5EDFF;
$shadowcolor: #CCCCCC;
$background1: #F6F6F6;
$background2: #EAEAEA;
$background3: #535353;
$spfontcolor: #FFFFFF;
$blackcolor: #000000;
$roboto:'Roboto', sans-serif;
$Shrikhand:'Shrikhand', cursive;