.footer-page{
    width: 100%;
    background-color: $background3;
    display: flex;
    flex-direction: column;
    z-index:3;
    h3{
        font-family: $Shrikhand;
        color: $spfontcolor;
        font-size: 1.1rem;
        font-weight: 100;
        margin-top: 20px;
        margin-left: 20px;
        margin-bottom: 10px;
    }
}

    
.proposal{
    color: $spfontcolor;
    font-size: 1rem;
    font-weight: 300;
    margin-left: 20px;
    margin-bottom: 5px;
    .fas {
        font-size: 0.9rem;
        margin-right: 10px;
        margin-bottom: 5px;    
    }
}

.partner{
    color: $spfontcolor;
    font-size: 1rem;
    font-weight: 300;
    margin-left: 20px;
    margin-bottom: 5px;
    .fas {
        font-size: 0.8rem;
        margin-right: 5px;
        margin-bottom: 5px;    
    }
}  

.mentions{
    color: $spfontcolor;
    font-size: 1rem;
    font-weight: 300;
    margin-left: 20px;
}

.contact{
    color: $spfontcolor;
    font-size: 1rem;
    font-weight: 300;
    margin-left: 20px;
    margin-bottom: 30px;
}